* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
}

.logo {
  letter-spacing: 5px;
}

.nav-links a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  opacity: 0.7;
}

.nav-links a:hover {
  opacity: 1;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 50px;
  letter-spacing: 8px;
}

.hero p {
  opacity: 0.6;
  margin-top: 15px;
}

/* Products */
.products {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px;
}

.product-card {
  width: 250px;
  text-align: center;
}

.product-card img {
  width: 100%;
  filter: grayscale(100%);
}

.product-card h3 {
  margin-top: 15px;
}

.product-card span {
  opacity: 0.7;
}
img {
  width: 200px;
  border: 2px solid red;
}
.product-card button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:hover {
  background: #333;
}

/* Cart */
.cart {
  position: fixed;
  top: 0;
  right: -320px;
  width: 300px;
  height: 100%;
  background: #111;
  color: white;
  padding: 20px;
  transition: 0.4s;
  z-index: 1000;
}

.cart h2 {
  margin-bottom: 20px;
}

.cart-item {
  margin-bottom: 10px;
  font-size: 14px;
}

.cart-item button {
  background: red;
  border: none;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
  margin-left: 5px;
}

.show-cart {
  right: 0;
}
